html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Fira Code", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  font-family: inherit;
}

.pag-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(81, 149, 89);
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: LightGreen;
}
.pag-1 .warrap-button {
  display: flex;
  flex-direction: column;
}
.pag-1 button {
  margin: 20px;
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: Indigo;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.pag-1 button:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.pag-1 button:active {
  transform: translateY(-1px);
}
.pag-1 input, .pag-1 textarea {
  font-weight: 500;
  font-size: 0.8vw;
  color: #fff;
  background-color: DarkGreen;
  box-shadow: 0 0 0.4vw rgba(0, 0, 0, 0.5), 0 0 0 0.15vw transparent;
  border-radius: 0.4vw;
  border: none;
  outline: none;
  padding: 0.5vw;
  transition: 0.4s;
  margin-top: 5px;
}
.pag-1 input:hover, .pag-1 textarea:hover {
  box-shadow: 0 0 0 0.15vw rgba(135, 207, 235, 0.186);
}
.pag-1 input:focus, .pag-1 textarea:focus {
  box-shadow: 0 0 0 0.15vw Lime;
}

.menu {
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.on {
  display: flex;
}

.off {
  display: none;
}

.on {
  display: flex;
}

.off {
  display: none;
}

.cad-cliente {
  flex-direction: column;
}
.cad-cliente input {
  margin-bottom: 20px;
}

.on {
  display: flex;
}

.off {
  display: none;
}

.cad-remedio {
  flex-direction: column;
}
.cad-remedio input {
  margin-bottom: 20px;
}

.on {
  display: flex;
}

.off {
  display: none;
}

.pag-venda {
  flex-direction: column;
}
.pag-venda input {
  margin-bottom: 20px;
}

.pag-venda on {
  display: flex;
}

.pag-venda off {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
